@model EnterpriseSystemsDevelopment_EPortfolio.Models.Template

<div class="form-group">
    <label asp-for="KsbKey" class="control-label"></label>
    <input asp-for="KsbKey" class="form-control" />
    <span asp-validation-for="KsbKey" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Evidence" class="control-label"></label>
    <input asp-for="Evidence" class="form-control" />
    <span asp-validation-for="Evidence" class="text-danger"></span>
</div>