@model EnterpriseSystemsDevelopment_EPortfolio.Models.Template

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_TutorLayout.cshtml";
}

<h1>Create</h1>

<h4>Template</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApprenticeId" class="control-label"></label>
                <select asp-for="ApprenticeId" class ="form-control" asp-items="ViewBag.ApprenticeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KsbType" class="control-label"></label>
                <select asp-for="KsbType" class="form-control"></select>
                <span asp-validation-for="KsbType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KsbKey" class="control-label"></label>
                <select asp-for="KsbKey" class="form-control"></select>
                <span asp-validation-for="KsbKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
