@model EnterpriseSystemsDevelopment_EPortfolio.Models.Template

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_TutorLayout.cshtml";
}

<h1>Evidence Entry</h1>
<form>
    <div class="form-group">
        <h2 for="evidenceEntry">Browse files:</h2>
        <input type="file" class="form-control-file" id="browseEvidence">
    </div>
</form>
<div>
    <label for="textarea">Support your evidence with text and more:</label>
</div>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
</head>
<body>
    <textarea name="content" id="editor">
        &lt;p&gt;&lt;/p&gt;
    </textarea>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

<p>
    <a class="btn btn-secondary btn-sm" asp-action="Create">Upload</a>
</p>

