@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section class="text-center">
        <h1 class="display-4">Welcome To Learnfolio</h1>
    </section>
    <section class="text-left">
        <p>Get into digital and technology solutions through a professional integrated degree.</p>
        <p>Specialisms:</p>
        <ul>Software Engineering</ul>
        <ul>IT Consultant</ul>
        <ul>Business Analyst</ul>
        <ul>Cyber Security</ul>
        <ul>Data Analyst</ul>
        <ul>Network Engineer</ul>
        <p>See further details in the original live brief available at <a href="url">https://www.instituteforapprenticeships.org/apprenticeship-standards/digital-and-technology-solutions-professional-integrated-degree/</a> </p>
        <p>Tell us the specialism you are interested in by registering today.</p>
    </section>
</div>